<section class ='inputs'>
  <div class='input-form'>
  <%= form_tag("/index", method: "get") do %>
    <div class='form'>
    <%= label_tag(:topic, "Topic") %>
    <%= text_field_tag (:topic), nil, value: @topic %>
    </div>
    <div class='form'>
    <%= label_tag(:from_date, "From") %>
    <%= text_field_tag (:from_date), nil, data:{ provide: 'datepicker', date_format: "M dd, yyyy"}, value: @from_date.to_date.strftime("%b %d, %Y") %>
    </div>
    <div class='form'>
    <%= label_tag(:to_date, "To") %>
    <%= text_field_tag (:to_date), nil, data:{ provide: 'datepicker', date_format: "M dd, yyyy"}, value: @to_date.to_date.strftime("%b %d, %Y") %>
    </div>
    <div class='form'>
    <%= submit_tag("Search for Articles") %>
    </div>
  <% end %>
  </div>
  <div>
  <%= button_to "Clear input", root_path, method: :get %>
  </div>
</section>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<section class='main-articles'>
  <div class='articles'>
    <% if !@presenter.articles.nil? %>
      <% @presenter.articles.each do |article| %>
        <div class='article'>
          <p><%= article[0] %></p>
          <p><%= link_to article[1], article[2] %> <br> <%= article[4]  %>  </p>
          <p><%= article[3] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<%= javascript_include_tag "application" %>
