<!DOCTYPE html>
<html>
  <head>
    <title>NewScan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class='main-title'>
        <h1><%= link_to "NewScan", root_path %></h1>
        <h2>All the news you want to read in one place</h2>
      </div>
    </nav>
    <section class ='inputs'>
      <%= form_tag("/index", method: "get") do %>
        <%= label_tag(:topic, "Topic") %>
        <%= text_field_tag (:topic), nil, value: @topic %>

        <%= label_tag(:from_date, "From Date") %>
        <%= text_field_tag (:from_date), nil, value: @from_date.to_date.strftime("%b %d, %Y") %>

        <%= label_tag(:to_date, "To Date") %>
        <%= text_field_tag (:to_date), nil, value: @to_date.to_date.strftime("%b %d, %Y") %>

        <%= submit_tag("Search for Articles") %>
      <% end %>
      <%= button_to "Clear input", root_path %>
    </section>
    <%= yield %>
    <footer>
      <h3>Powered by NewsAPI</h3>
      <h3><%= link_to "See the News Sources used!", "https://newsapi.org/sources" %></h3>
    </footer>
  </body>
</html>
